@import "../../App";

.drawer {
  margin-bottom: 3rem;
  position: relative;
  .title {
    color: #2f2f30;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    position: relative;

    svg {
      position: absolute;
      left: 15px;
      top: 20px;
      font-size: 16pt;
    }
  }
  .title-drawer {
    position: fixed !important;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    background-color: $primaryColor;
    z-index: 10;
  }
  @media (min-width: 600px) {
    .title-drawer {
      width: 600px;
    }
  }

  .content-drawer {
    padding: 60px 15px;

    > div > .description {
      color: #828282;
      font-size: 14px;
      text-align: center;
      margin-top: 1.5rem;
    }
  }

  .button-search {
    border-radius: 16px;
    background-color: #f2f2f2;
    color: #d8d8d8;
    border: none;
    padding: 5px;
    width: 100%;
  }
  .button-search:focus {
    outline: none;
  }
  .button-search.active {
    color: #ffffff;
    background-color: $primaryColor;
  }

  .default-avatar {
    font-size: 40pt;
    color: #d8d8d8;
    margin-right: 8px;
    object-fit: cover;
    object-position: center;
  }

  .avatar-student {
    width: 40pt;
    height: 40pt;
    font-size: 40pt;
    border-radius: 50%;
    margin-right: 8px;
    object-fit: cover;
    object-position: center;
  }
  .big-avatar-student {
    width: 72pt;
    height: 72pt;
    color: #d8d8d8;
    font-size: 40pt;
    border-radius: 50%;
    margin-right: 8px;
    object-fit: cover;
    object-position: center;
  }

  .name-student {
    font-size: 14pt;
    color: #2f2f30;
    font-weight: 500;
  }
  .complete-index {
    font-size: 10pt;
    color: #828282;
  }
  .checkbox {
    position: absolute;
    right: 0;
    color: #c2c2c2;
    top: 14px;
  }
  .checkbox.active {
    position: absolute;
    right: 0;
    color: $primaryColor;
    top: 14px;
  }

  .show-more {
    color: #2d9edb;
    font-size: 16px;
  }
  .paging {
    color: #828282;
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 14px;
  }

  .total-st {
    color: #2d9edb;
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 14px;
  }

  .back-to-home {
    color: #2d9edb;
    font-size: 16px;
    cursor: pointer;
  }

  .tips {
    font-size: 12px;
    padding: 0 45px;
    text-align: center;
    margin-top: 1rem;
  }

  .previous-results {
    .default-avatar {
      font-size: 32pt;
      color: #d8d8d8;
      margin-right: 8px;
    }
    .avatar-student {
      width: 32pt;
      height: 32pt;
      border-radius: 50%;
      margin-right: 8px;
      object-fit: cover;
      object-position: center;
    }

    .name-student {
      font-size: 16px;
      color: #2f2f30;
      font-weight: 500;
    }
    .date {
      font-size: 10px;
      color: #828282;
    }

    .teacher {
      :first-child {
        font-size: 18px;
        font-weight: 500;
      }
      :last-child {
        font-size: 14px;
        color: #c2c2c2;
        float: right;
      }
    }
    .evaluate-of-teacher {
      :first-child {
        font-size: 16px;
        color: #c2c2c2;
      }
      :last-child {
        float: right;
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 10px;
        background-color: #f2f2f2;
        color: #c2c2c2;
      }
      .forming {
        background-color: #fff6f8;
        color: $quaternaryColor;
      }
      .formed {
        background-color: #fff9eb;
        color: $primaryColor;
      }
      .ready {
        background-color: #f2fff1;
        color: $tertiaryColor;
      }
    }
  }

  .info-teacher {
    .box-info {
      display: flex;
      position: relative;
      justify-content: flex-start;
      align-items: center;
      margin-top: 1.5rem;

      .avatar-teacher {
        width: 80px;
        height: 80px;
        font-size: 80px;
        border-radius: 50%;
        margin-right: 20px;
        object-fit: cover;
        object-position: center;
      }
      .default-avatar-teacher {
        font-size: 80px !important;
        margin-right: 20px;
        opacity: 0.5;
      }

      .name-teacher {
        font-size: 20px;
        font-weight: 500;
      }
      .title-teacher {
        font-size: 14px;
        color: $secondaryColor;
      }
    }

    .contact-info {
      font-size: 16px;
      color: #565656;
      margin-top: 0.5rem;
      display: flex;
      i {
        margin-right: 10px;
        top: 5px;
      }
    }

    .hr {
      width: calc(100% + 30px);
      margin: 2rem 0;
      margin-left: -15px;
    }

    .handle {
      position: relative;
      font-size: 18px;
      margin-top: 15px;
      cursor: pointer;
      color: #2f2f30;

      > span:first-child {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background: #f2f2f2;
        position: absolute;

        > i {
          left: 7px;
          top: 1px;
          font-size: 14px !important;
          color: $secondaryColor;
        }
      }
      > span:last-child {
        margin-left: 44px;
      }
    }
  }

  .support {
    .box-support {
      box-shadow: 0 2px 6px #1c1c1c14;
      border-radius: 8px;
      background-color: #fff;
    }
    .box-support-content {
      padding: 15px;
      position: relative;
      display: flex;

      .box-support-content-left {
        > span {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          background-color: $primaryColor;
          display: flex;
          justify-content: center;
          align-items: center;

          > i {
            color: #fff;
            font-size: 20px !important;
          }
        }
      }
      .box-support-content-right {
        padding-left: 15px;

        .description {
          color: #828282;
          font-size: 14px;
        }
        .contact {
          color: $secondaryColor;
          font-size: 14px;
          display: flex;
          margin-top: 1rem;
          opacity: 0.8;
          > div:first-child {
            width: 50%;
          }
          > div:last-child {
            width: 50%;
          }
        }
      }
    }
  }

  .small-text {
    font-size: 12px;
    color: #828282;
  }
  .tiny-text {
    font-size: 10px;
    color: #c2c2c2;
  }
}
